.marquee-banner-container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    box-shadow: none;
    padding: 0;
}

.marquee-banner {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-banner__group {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    animation: marqueeBannerAnim linear infinite;
    padding-left: 0.5rem;
}

.marquee-banner__group span {
    font-family: 'PirataOne-Regular', sans-serif;
    letter-spacing: 0.1em;
    user-select: none;
    white-space: nowrap;
}

.marquee-banner__group + .marquee-banner__group {
    animation-delay: calc(var(--marquee-speed, 14s) / 2);
}

@keyframes marqueeBannerAnim {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-banner-single {
    display: flex;
    width: max-content;
    min-width: 200%;
    animation: marqueeBannerSingleAnim linear infinite;
    align-items: center;
}

@keyframes marqueeBannerSingleAnim {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee-banner-single span {
    font-family: 'PirataOne-Regular', sans-serif;
    letter-spacing: 0.1em;
    user-select: none;
    white-space: nowrap;
} 